{% load staticfiles %}
<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <!-- Styles -->

    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block head %}
    {% endblock %}

    <script type="application/javascript">
        jQuery.fn.center = function () {
            this.css("margin-top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) + $(window).scrollTop()) + "px");
            //this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) + $(window).scrollLeft()) + "px");
            return this;
        }
    </script>
</head>
<body>

{% block body %}
{% endblock %}


</body>
</html>